<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.example.sample">

	<!-- 인터넷 사용 권한 설정 -->
	<uses-permission
		android:name="android.permission.INTERNET" />

	<activity
		android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
		<intent-filter>
			<action android:name="android.intent.action.VIEW" />
			<category android:name="android.intent.category.DEFAULT" />
			<category android:name="android.intent.category.BROWSABLE" />

			<!--Redirect URI: "kakao{NATIVE_APP_KEY}://oauth" -->
			<data android:host="oauth" android:scheme="{KAKAO_APP_KEY}" />
		</intent-filter>
	</activity>


</manifest>